doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Agency - Start Bootstrap Theme
    link(rel='icon' type='image/x-icon' href='images/img/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    //maps
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    // Core theme CSS (includes Bootstrap)
    link(href='stylesheets/styles.css' rel='stylesheet')
  body
    block content